:root{

    /* Fonts */
    --font-big-shoulders: 'Big Shoulders', sans-serif;
    --font-lexend-deca: 'Lexend Deca', sans-serif;

    --font-400: 400;
    --font-700: 700;

    /* Colors */

    /* ### Primary */

    --Bright-orange: hsl(31, 77%, 52%);
    --Dark-cyan: hsl(184, 100%, 22%);
    --Very-dark-cyan: hsl(179, 100%, 13%);

    /* ### Neutral */

    /* (paragraphs) */
    --Transparent-white : hsla(0, 0%, 100%, 0.75);

    /* (background, headings, buttons) */
    --Very-light-gray : hsl(0, 0%, 95%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

html{
    font-size: 0.9375rem; /* 15px */
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}

.wrapper{
    /* Full viewport height and width */

    /* Centering wrapper */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

}

.container{
    width:min(90%,900px);
    margin: 2rem auto;
    display: grid;
    grid-template-columns: 1fr;    
    border-radius: 1.5rem;
    overflow: hidden;
}

/* Card background classes */
.orange{
    background-color: var(--Bright-orange);
}

.dark-cyan{
    background-color: var(--Dark-cyan);
}

.very-dark-cyan{
    background-color: var(--Very-dark-cyan);
}


.card{
    display: flex;
    flex-direction: column;
    gap: 2.75rem;
    padding:2.75rem;
}

.card__img{
    width: 5rem;
}

.card__header{
    font-family: var(--font-big-shoulders);
    font-weight: var(--font-700);
    font-size: 3rem;
    line-height: 1.75rem;
    color: var(--Very-light-gray);
    text-transform: uppercase;
}

.card__content{
    font-family: var(--font-lexend-deca);
    font-weight: var(--font-400);
    font-size: 1rem;
    line-height: 1.75rem;
    color: var(--Transparent-white);
}

.card__btn{
    width: fit-content;
    font-family: var(--font-lexend-deca);
    font-size: 1.125rem;
    line-height: 1.75rem;
    text-decoration: none;
    padding: 1rem 2rem;
    border-radius: 2rem;
    background-color: var(--Very-light-gray);
    transition: background-color 0.3s ease-in-out;
}

/* Botton animation classes */
.sedans{
    color:var(--Bright-orange);
    border: 2px solid var(--Very-light-gray);
}
.sedans:hover, .sedans:focus{
    background-color: var(--Bright-orange);
    color: var(--Very-light-gray);
}

.suvs{
    color:var(--Dark-cyan);
    border: 2px solid var(--Very-light-gray);
}
.suvs:hover, .suvs:focus{
    background-color: var(--Dark-cyan);
    color: var(--Very-light-gray);
}

.luxury{
    color:var(--Very-dark-cyan);
    border: 2px solid var(--Very-light-gray);
}
.luxury:hover, .luxury:focus{
    background-color: var(--Very-dark-cyan);
    color: var(--Very-light-gray);
}



@media (min-width:600px) {
    .container{
        grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
        margin: 0 auto
    }

    .card__btn{
        margin-top:2rem;
    }
}